.admin_main {
  width: 100%;
}

.admin_dashboard_header {
  min-height: calc(100vh - 60px);

  padding: 1.5rem 3rem 2rem;
  background-color: #ccdbf8;
}

.admin_dashboard_header > h2 {
  font-family: "Volkhov", serif;
  font-size: 1rem;
  margin-bottom: 0.5rem;
  font-weight: 400;
}

.admin_main .admin_dashboard_header .admin_dashboard {
  display: flex;
  gap: 1rem;
}

.total_transactions {
  width: 55%;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 1rem;
}

.admin_total_box {
  padding: 15px 0 0 8px;
  box-shadow: 0px 3.674px 27.553px 0px rgba(46, 45, 116, 0.05);
  border-radius: 7px;
  background: #fff;
}

.admin_total_box img {
  width: 1.5rem;
}

.admin_total_box > p:first-of-type {
  font-family: "Inter", sans-serif;
  font-weight: 400;
  font-size: 0.8rem;

  margin: 0.3rem 0;
}

.admin_total_box > p:last-of-type {
  font-family: satoshi400;
  font-size: 0.8rem;
}

.admin_total_box .view {
  display: flex;
  align-items: center;
  gap: 0.2rem;
  margin: 0.3rem 0 3rem;

  font-size: 0.69rem;
  font-family: satoshi400;
}

.admin_total_box .view > img {
  width: 0.69rem;
}

/* Barcharts */
.sales_activity {
  width: 45%;

  display: flex;
  flex-direction: column;
  justify-content: space-between;

  padding: 15px 8px 0;
  border-radius: 11.021px;
  background-color: #fff;
  box-shadow: 0px 3.674px 27.553px 0px rgba(46, 45, 116, 0.05);
}

.sales_activity h3 {
  font-family: "Volkhov", serif;
  font-size: 1.05rem;
  margin-bottom: 0.3rem;
}

.admin_sales {
  display: flex;
  flex-direction: column;
  gap: 0.2rem;
}

.sales_year {
  display: flex;
  gap: 1rem;
}

.admin_sales .this_year,
.admin_sales .last_year {
  display: flex;
  align-items: center;
  gap: 0.3rem;
}

.admin_sales .this_year > div,
.admin_sales .last_year > div {
  width: 12px;
  height: 11px;
}

.admin_sales .this_year > div {
  background-color: #3e6be0;
}

.admin_sales .last_year > div {
  background-color: #e0e0e0;
}

.admin_sales .this_year > p,
.admin_sales .last_year > p {
  font-family: "Inter", sans-serif;
  font-size: 0.5rem;
}

.barchart {
  width: 95%;
  height: 30vh;
}

/* tables */
.admin_main .orders {
  margin: 3rem 0 0;

  display: flex;
  gap: 1rem;
}

.orders .recent_orders,
.orders .top_selling_products {
  border-radius: 11.021px;
  background: var(--Neutral-White, #fff);
  box-shadow: 0px 3.674px 27.553px 0px rgba(46, 45, 116, 0.05);
}

.orders .recent_orders {
  width: 55%;
}

.orders .top_selling_products {
  width: 45%;
}

.orders h3 {
  padding: 0.5rem 0.5rem 0.5rem;
  font-family: "Volkhov", serif;
  font-size: 1rem;
}

.admin_main .orders .order_table .items {
  display: grid;
  grid-template-columns: 1.3fr 1fr 1fr 0.7fr;
  gap: 1rem;
  padding: 0.5rem;
}

.admin_main .orders .top_selling_table .items {
  display: grid;
  justify-content: space-between;
  grid-template-columns: 1fr 1fr;
  gap: 3rem;
  padding: 0.5rem 0.8rem;
}

.recent_orders_header,
.top_selling_header {
  background-color: #ccdbf8;
  font-family: satoshi700;
  font-weight: bold;
}

.admin_main .orders .items {
  font-family: satoshi400;
  font-size: 0.85rem;
}

/* media */
@media (min-width: 1300px) {
  .admin_main .orders .items {
    font-family: satoshi400;
    font-size: 0.9rem;
  }
}

@media (max-width: 1090px) {
  .admin_dashboard_header {
    padding: 1.5rem 2rem 2rem;
  }

  .admin_main .admin_dashboard {
    flex-direction: column;
  }

  .total_transactions,
  .sales_activity,
  .orders .recent_orders,
  .orders .top_selling_products {
    width: 100%;
  }

  .sales_activity {
    text-align: center;
  }

  .sales_year {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 1rem;
  }

  .admin_main .orders {
    margin: 1rem 0;
    flex-direction: column;
  }

  .admin_main .orders .items {
    font-size: 0.9rem;
  }
}

/* mobile */
/* @media (max-width: 720px) {
  .admin_main .admin_dashboard {
    background-color: brown;
  }
} */
