.breadcrum {
  display: inline-flex;
  margin-left: 1%;
}

.breadcrum p {
  display: flex;
  align-items: center;
  gap: 10px;

  text-transform: capitalize;
  font-size: 0.9rem;
  font-family: satoshi400;
  color: #5e5e5e;
  padding: 20px 0 10px;
}

.breadcrum p img {
  width: 0.7rem;
}
