.orderheader {
  margin-bottom: 3rem;

  filter: drop-shadow(0px 1px 2px rgba(0, 0, 0, 0.25));
  position: sticky;
  top: 0;
  z-index: 1;
}

.OrderHistory {
  font-family: "Arial", sans-serif;
  margin: 0 5% 3rem;
}

.orderhistoryMain {
  display: flex;
  gap: 1.5rem;
  margin-top: 2rem;
}

.OrderHistory h1 {
  color: #333;
  margin-bottom: 8px;
  text-align: center;
  font-size: 2rem;
}

.OrderHistory > p {
  color: #666;
  margin-bottom: 20px;
  font-size: 0.9rem;
  text-align: center;
}

.userorders {
  width: 100%;
  border-radius: 6.054px;
  background: #fff;
  box-shadow: 0px 24.216px 54.486px 0px rgba(0, 0, 0, 0.06);
}

.order {
  border-radius: 4px;
}

.orderHeader {
  display: flex;
  gap: 5rem;
  background-color: #eee7fa;
  border-radius: 8px;
  padding: 0.7rem 1.5rem;
  margin-bottom: 0.95rem;
}

.orderHeader div {
  display: flex;
  flex-direction: column;
  gap: 0.1rem;
}

.orderHeader diV > h3 {
  color: #000;
  font-family: Satoshi500;
  font-size: 1rem;
}

.orderHeader diV > p {
  color: #8a8a8a;
  text-align: center;
  font-family: "Poppins", sans-serif;
  font-size: 0.8rem;
  font-weight: 400;
}

.orderItem {
  display: flex;
  padding: 1rem 1.5rem;
  border-bottom: 1px solid #a2a2a2;
}

.orderItem img {
  width: 90px;
  height: auto;
  margin-right: 15px;
  border-radius: 4px;
}

.ItemDetails {
  flex-grow: 1;
}

.ItemDetails h3 {
  margin: 0;
  color: #333;
  font-size: 1.1rem;
}

.ItemDetails p {
  margin: 5px 0;
  color: #666;
  font-size: 0.87rem;
}

.ItemDetails p:nth-child(4) {
  margin-bottom: 10px;
  color: #333;
}

.statusBtn {
  /* border: 1px solid red; */
  display: flex;
  gap: 7rem;
}

.ItemDetails button {
  padding: 8px 15px;
  font-size: 0.7rem;

  background-color: #eee7fa;
  border-radius: 8px;
  border: none;
  color: rgba(0, 0, 0, 0.7);
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.ItemDetails button:hover {
  background-color: #cfb9f0;
}

/* media query */
@media (max-width: 750px) {
  .OrderHistory {
    margin: 0 3% 3rem;
  }

  .orderhistoryMain {
    gap: 0.9rem;
  }

  .OrderHistory h1 {
    font-size: 1.8rem;
  }

  .OrderHistory > p {
    font-size: 0.75rem;
  }

  .orderHeader {
    gap: 3rem;
  }

  .orderHeader diV > h3 {
    font-size: 0.8rem;
  }

  .orderHeader diV > p {
    font-size: 0.65rem;
  }

  .ItemDetails h3 {
    font-size: 0.95rem;
  }

  .ItemDetails p {
    font-size: 0.75rem;
  }

  .statusBtn {
    display: inline-block;
  }

  .ItemDetails button {
    font-size: 0.6rem;
    margin-top: 0.5rem;
  }
}
