.sidebar {
  min-width: 220px;
}

.sidebar .innersidebar {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 1rem;

  border-radius: 6.054px;
  background: #eee7fa;
  box-shadow: 0px 24.216px 54.486px 0px rgba(0, 0, 0, 0.06);
}

.sidebar .userinfo {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 30px;
}

.userinfo img {
  width: 80px;
  height: 80px;
  border-radius: 50%;
  margin-bottom: 10px;
}

.userinfo h2 {
  font-size: 1.2em;
  font-family: "Volkhov", serif;
  margin-bottom: 5px;
}

/* navigation */
.clickedUserMenu {
  border-radius: 3px;
  background-color: #cfb9f0;
}

.navigation li {
  display: flex;
  flex-direction: column;
  gap: 0.6rem;
}

.navigation li a {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 1rem;

  font-size: 0.9em;
  font-family: satoshi500;
  padding: 0.4rem 0.8rem;
}

.navigation .icon {
  width: 1.3rem;
  height: 1.3rem;
}

.navItem {
  color: #333;
  font-size: 0.9em;
}
