.heroImg {
  width: 100%;
  background-color: #ededed;
}

.heroImg img {
  width: 100%;
}

/* section */
.section {
  margin: 1.5rem 5% 0;
  text-align: center;
}

.section h3 {
  color: #262626;
  font-family: "Inter", sans-serif;
  font-size: 1.6rem;
  font-weight: 600;
  line-height: 35px;
}

.section h3 span {
  background: linear-gradient(90deg, #9856da 0%, #9856da 100%);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

hr {
  border: 4px solid #d0d5dd;
  margin: 0.4rem 0 0;
}

/* mission & vision */
.mission,
.Vision {
  margin-top: 2rem;
}

.mission h2,
.Vision h2 {
  font-family: "Volkhov", serif;
  font-size: 2rem;
  font-weight: 400;
  text-decoration: underline;
}

.mission p,
.Vision p {
  width: 85%;
  margin: 1.3rem auto 2rem;
  text-align: justify;

  font-family: satoshi500;
  font-size: 1.2rem;
}

.missionimg {
  height: 35vh;
}

.missionimg img {
  width: 70%;
  height: 100%;
  object-fit: cover;
  border-radius: 2.054px 15.408px 15.408px 2.054px;
}

.aboutTestimonies {
  margin: 1.5rem 0;
}

/* mediaaa */
@media (min-width: 1100px) {
  .heroImg {
    height: 55vh;
  }

  .heroImg img {
    height: 100%;
    object-fit: contain;
  }

  .section {
    margin: 2rem 10% 0;
  }

  .section h3 {
    font-size: 2rem;
    line-height: 50px;
  }

  /* mission & vision */
  .mission h2,
  .Vision h2 {
    font-size: 2.3rem;
  }

  .mission p,
  .Vision p {
    width: 52ch;
    font-size: 1.5rem;
  }

  .missionimg {
    height: 38vh;
  }

  .missionimg img {
    width: 60%;
  }
}

@media (max-width: 700px) {
  .section h3 {
    font-size: 1.1rem;
    line-height: 27px;
  }

  .mission h2,
  .Vision h2 {
    font-size: 1.5rem;
  }

  .mission p,
  .Vision p {
    width: 80%;
    font-size: 0.9rem;
  }
}
