.headWrapper {
  filter: drop-shadow(0px 1px 2px rgba(0, 0, 0, 0.25));
  position: sticky;
  top: 0;
  z-index: 1;
}

.container {
  margin: 2rem 0 3rem;
}

.forms {
  display: flex;
  justify-content: space-between;

  height: calc(100vh - 100px);
}

.container form {
  width: 50%;
  margin: 4% 10% 5rem;
  font-family: "Poppins", sans-serif;
}

form > h2 {
  font-size: 2rem;
  font-weight: 500;
}

form > p {
  font-size: 0.8rem;
  margin-bottom: 2.5rem;
  font-weight: 500;
}

.container form .input {
  display: flex;
  flex-direction: column;
  margin-bottom: 1rem;
  position: relative;
}

.container form .input label {
  font-size: 0.8rem;
  font-weight: 500;
}

.container form .input input {
  border: 1.146px solid #d9d9d9;
  padding: 0.8rem 1em;
  border-radius: 8px;
  font-size: 0.85rem;
  outline: none;
}

.input img {
  width: 1.5rem;
  position: absolute;
  right: 15px;
  top: 28px;
}

.container form .input input[type="text"]::placeholder,
.container form .input input[type="password"]::placeholder,
.container form .input input[type="email"]::placeholder {
  color: #d9d9d9;
  font-size: 0.7rem;
  font-family: "Poppins", sans-serif;
  font-weight: 500;
}

.checkforget {
  display: flex;
  justify-content: space-between;
  margin-bottom: 1rem;
}

.checkforget > .checkbox {
  display: flex;
  align-items: center;
  font-size: 0.7rem;
  gap: 0.2rem;
  font-weight: 500;
}

.container form > .checkbox input:checked {
  accent-color: #000;
}

.forget a {
  color: #0c2a92;
  font-size: 0.65rem;
  font-weight: 500;
}

.tertiaryBtn input {
  width: 100%;
  background: #cfb9f0;
  color: #fff;
  padding: 0.7rem 1em;
  border: none;
  border-radius: 8px;
  cursor: pointer;
}

.tertiaryBtn input:hover {
  background-color: #9856da;
}

.divider {
  border: 1px solid #f5f5f5;
  text-align: center;
  line-height: 0;

  margin: 1.5rem 0;
  font-size: 0.65rem;
}

.divider span {
  background-color: white;
  padding: 0 10px;
}

.toSignup {
  font-size: 0.7rem;
  font-family: "Poppins", sans-serif;
  font-weight: 500;
  text-align: center;
}

.toSignup a {
  color: #0c2a92;
  margin-left: 0.3rem;
}

.accountImg {
  width: 90%;
}

.accountImg img {
  width: 100%;
  height: 100%;
  object-fit: cover;

  border-radius: 45px 0px 0px 45px;
}

/* media */
@media (min-width: 700px) and (max-width: 1000px) {
  .container form {
    margin: 4% 4% 5rem;
  }

  .accountImg {
    width: 70%;
  }
}

@media (max-width: 700px) {
  .forms {
    height: auto;
  }

  .container form {
    width: 100%;
    margin: auto;
    margin: 1rem 10% 0;
  }

  .accountImg {
    display: none;
  }
}
