.productCategories {
  padding: 20px;
  background: #EEE7FA;
  width: 343px;
  height: 359px;
  flex-shrink: 0;
}

.productCategories h4 {
  padding: 20px;
  margin-bottom: 10px;
  color: #000;
  font-family: Volkhov;
  font-size: 21px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}

.productCategories ul {
  list-style: none;
  display: inline-flex;
  padding-right: 167px;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  gap: 43px;
}

.productCategories li {
  margin-bottom: 5px;
  cursor: pointer;
  color: #000;
  font-family: Satoshi;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 28px;
}