.container {
  display: flex;
  gap: 1.5rem;
  margin: 0 5% 2.3rem;
}

.ProfileDetailsHeader {
  margin-bottom: 3rem;

  filter: drop-shadow(0px 1px 2px rgba(0, 0, 0, 0.25));
  position: sticky;
  top: 0;
  z-index: 1;
}

@media (min-width: 1200px) {
  .container {
    margin: 0 10% 2.3rem;
  }
}

@media (max-width: 700px) {
  .container {
    gap: 1rem;
    margin: 0 3% 2.3rem;
  }
}
