.banner {
  width: 100%;
}

.banner img {
  width: 100%;
}

.shop {
  /* border: 1px solid red; */
  margin: 25px 7% 40px;
  display: flex;
  gap: 3%;
}

@media (min-width: 1000px) {
  .banner img {
    height: 58vh; /* height issue  */
  }
  .shop {
    margin: 25px 9% 40px;
  }
}

@media (max-width: 1200px) {
  .shop {
    /* border: 1px solid blue; */
    margin: 25px 3% 40px;
  }
}

@media (max-width: 659.9px) {
  .shop {
    /* border: 1px solid pink; */
    margin: 25px 3% 40px;
    display: flex;
    flex-direction: column;
    gap: 3%;
  }
}
