.banner {
  width: 100%;
}

.banner img {
  width: 100%;
}

.shop {
  margin: 25px 7% 40px;
  display: flex;
  gap: 3%;
}

@media (min-width: 1000px) {
  .banner img {
    height: 58vh;
  }
  .shop {
    margin: 25px 9% 40px;
  }
}

@media (max-width: 1200px) {
  .shop {
    margin: 25px 3% 40px;
  }
}

@media (max-width: 659.9px) {
  .shop {
    margin: 25px 3% 40px;
    display: flex;
    flex-direction: column;
    gap: 3%;
  }
}

@media (max-width: 720px) {
  .innerHeroSection {
    flex-direction: column;
    align-items: center;
    padding: 2%;
  }

  .heroContent {
    width: 100%;
    margin-top: 20px;
  }

  .heroPara,
  .heroTitle,
  .heroPrice,
  .heroOffer {
    text-align: center;
    font-size: 10px;
    padding: 10px;
  }

  .heroImageWrapper img {
    width: 70%;
    max-height: none;
  }
}

/* Media query for screens with a width of 320 pixels */
@media (max-width: 320px) {
  .innerHeroSection {
    margin: 1% 2%;
  }

  .heroContent {
    width: 100%;
  }

  .heroPara,
  .heroTitle,
  .heroPrice,
  .heroOffer {
    padding: 5px;
    font-size: 10px;
  }

  .heroButton {
    padding: 8px 16px;
    font-size: 0.5rem;
    margin: 10px;
  }

  .heroImageWrapper img {
    max-height: 30vh;
  }
}
