.sortBy {
  display: flex;
  align-items: center;
  margin-bottom: 10px;
  padding: 20px;
  gap: 50px;
  justify-content: space-between;
}

.sortByLabel {
  font-weight: bold;
  margin: 10px;
  padding: 20px;
  color: #333;
}

.sortBySelect {
  width: 144px;
  padding: 7px 20px 7px 30px;
  justify-content: flex-end;
  align-items: center;
}