header {
  position: sticky;
  top: 0;
  z-index: 2;
}

.header {
  height: 70px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1em 8% 0.2em 0;
  background-color: white;
}

nav ul {
  display: flex;
  gap: 2rem;
}

nav ul li {
  display: inline-block;
}

nav ul li a {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 0.2rem;
  font-size: 1rem;
  color: #000;
  font-family: var(--satfont400);
}

nav ul li a:hover {
  color: #3734a9;
}

.cartTop {
  position: relative;
}

.cartCircle {
  width: 16px;
  height: 16px;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
  right: 0;
  top: -5px;
  background-color: rgb(201, 47, 47);
  color: white;
  font-size: 0.7rem;
  font-weight: bold;
  font-family: "Inter", sans-serif;
  padding-top: 2px;
}

.search {
  display: flex;
  border: 1px solid #000;
  border-radius: 8px;
  width: 30%;
  height: 35px;
  padding: 0.2rem;
}

.search img {
  padding: 0 0.5rem;
  width: 2.2rem;
}

.search input {
  width: 80%;
  height: 100%;
  border: none;
  outline: none;
}

.menu {
  display: none;
}

/* media query */
@media (min-width: 870px) and (max-width: 1110px) {
  nav ul {
    gap: 2rem;
  }

  nav ul li a {
    font-size: 0.8rem;
  }
}

/* mobile responsiveness for large desktop */
@media (min-width: 600px) and (max-width: 870px) {
  nav,
  .cartCircle {
    display: none;
  }

  .menu {
    display: block;
  }

  .navLeft,
  .cartTop {
    position: absolute;
    right: 0;
    width: 50%;
  }

  .navLeft {
    top: 70px;
    max-height: calc(100vh - 70px);
    background-color: white;
    box-shadow: 0px 18px 18px #888888;
  }

  .cartTop {
    top: 315px;
  }

  .navLeft .navMobile {
    padding-bottom: calc(100vh - 70px);
  }

  .cartTop .navMobile {
    padding-left: 5.5%;
  }

  .navMobile {
    padding-top: 15%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }

  .navMobile ul {
    flex-direction: column;
  }

  .navMobile ul li a {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 1.5rem;
    font-size: 1.2rem;
  }
}

/* mobile responsiveness for small desktop */
@media (max-width: 599.9px) {
  .nav,
  .cartCircle {
    display: none;
  }

  .menu {
    display: block;
  }

  .logo {
    width: 90px;
  }

  .logo img {
    width: 100%;
  }

  .navLeft,
  .cartTop {
    position: absolute;
    right: 0;
    width: 50%;
  }

  .navLeft {
    top: 70px;
    max-height: calc(100vh - 70px);
    background-color: white;
  }

  .cartTop {
    top: 280px;
  }

  .navLeft .navMobile {
    padding-bottom: calc(100vh - 70px);
  }

  .cartTop .navMobile {
    padding-left: 5.5%;
  }

  .navMobile {
    padding-top: 15%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }

  .navMobile ul {
    flex-direction: column;
  }

  .navMobile ul li a {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 1.1rem;
    font-size: 1.1rem;
  }
}

/* media responsiveness for small screens */
@media (max-width: 450px) {
  .nav {
    display: none;
  }

  .search img {
    width: 2rem;
  }

  .menu {
    display: block;
    cursor: pointer;
  }

  .navLeft,
  .cartTop {
    position: absolute;
    right: 0;
    width: 50%;
  }

  .navLeft {
    top: 70px;
    max-height: calc(100vh - 70px);
    background-color: white;
  }

  .cartTop {
    top: 290px;
  }

  .navLeft .navMobile {
    padding-bottom: calc(100vh - 70px);
  }

  .cartTop .navMobile {
    padding-left: 5.5%;
  }

  .navMobile {
    padding-top: 25%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }

  .navMobile ul {
    flex-direction: column;
  }

  .navMobile ul li a {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 1rem;
    font-size: 1.1rem;
  }
}
