.main {
  width: 100%;
  max-height: 800px;
  background: linear-gradient(180deg, #4b91df 23%, #274f7b 100%);
  display: flex;
  align-items: center;
  gap: 7%;
  padding: 1.2em 3% 0;
}

.heroText {
  width: 40%;
}

.leftText {
  width: 50ch;
}

.leftText h1 {
  color: white;
  font-size: 2.7rem;
  line-height: normal;
  font-family: var(--font-vol);
}

.leftText p {
  font-family: var(--satfont400);
  font-size: 1.21rem;
  line-height: normal;
  padding: 1.5rem 0 2rem;
  color: rgba(255, 255, 255, 0.8);
}

.btn {
  padding: 0.5rem 1.5rem;
  border-radius: 8px;
  background: #5028c6;
  color: #fff;
  font-size: var(--font-16);
}

.btn a {
  text-decoration: none;
  color: #fff;
}

.btn:hover {
  opacity: 0.5;
}

/* Hero Image Side */
.heroImages {
  width: 100%;
  position: relative;
  max-height: 100%;
  overflow: hidden;
}

.heroImages div {
  width: 100%;
  max-height: 700px;
  position: absolute;
}

.heroImages div img {
  width: 90%;
}

.heroImages .blue {
  position: relative;
  transform: translateY(15%);
  margin-left: 3%;
}

.heroImages .purple {
  transform: translateY(-90%);
  margin-left: -9%;
}

.heroImages .lady {
  position: absolute;
  top: 12%;
  left: 5%;
}

.heroImages .lady img {
  width: 57%;
}

/* Premier Support */
.services {
  background-color: #041121;
  display: flex;
  margin: 0 17% 0 7%;
  transform: translateY(-25%);
}

.quality {
  width: 100%;
  color: white;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 0.8rem;
  font-family: var(--poppins);
  line-height: normal;
  padding: 1rem 0;
}

.quality h4 {
  font-weight: 500;
  font-size: 0.9rem;
}

.quality p {
  font-weight: 400;
  font-size: 0.7rem;
}

/* media query */
@media (min-width: 1280px) {
  .heroImages .purple {
    transform: translateY(-97%);
    margin-left: -9%;
  }
}

@media (min-width: 800px) and (max-width: 1000px) {
  .leftText {
    width: 41.4ch;
  }

  .leftText h1 {
    font-size: 2.3rem;
  }

  .leftText p {
    font-size: 1rem;
    padding: 1.3rem 0 1.7rem;
  }

  .btn {
    padding: 0.5rem 1.5rem;
    font-size: var(--font-16);
  }

  .rightImg {
    margin-left: 7%;
  }
}

@media (min-width: 600px) and (max-width: 800px) {
  .leftText {
    width: 31ch;
  }

  .leftText h1 {
    font-size: 1.4rem;
  }

  .leftText p {
    font-size: 0.95rem;
    padding: 1rem 0 1.3rem;
  }

  .rightImg {
    margin-left: 7%;
  }

  .btn {
    padding: 0.3rem 1.3rem;
  }

  /* Premier Support */
  .services {
    margin: 0 15% 0 5%;
  }

  .quality {
    gap: 0.4rem;
  }

  .quality h4 {
    font-size: 0.73rem;
  }

  .quality p {
    font-size: 0.54rem;
    line-height: 12px;
  }
}

/* mobile */
@media (max-width: 600px) {
  .main {
    height: calc(100vh - 70px);
    /* background-color: blue; */
    flex-direction: column;
    gap: 0.5%;
    position: relative;
  }

  /* Text */
  .heroText {
    display: flex;
    text-align: center;
    justify-content: center;

    width: 100%;
    text-align: center;
    margin-bottom: 0%;
  }

  .leftText {
    width: none;
  }

  .leftText h1 {
    font-size: 1.7rem;
    padding: 0.24em 0 0.35em;
  }

  .leftText p {
    font-size: 1rem;
    padding: 1.3rem 0 1.5rem;
  }

  .btn {
    padding: 0.5rem 1.5rem;
    font-size: var(--font-16);
  }

  /* Hero image */
  .heroImages {
    text-align: center;
  }

  .heroImages div img {
    width: 70%;
  }

  .heroImages .purple {
    transform: translateY(-90%);
  }

  .heroImages .lady {
    top: 30%;
    left: -5%;
  }

  .heroImages .lady img {
    width: 35%;
  }

  /* Premier Support */
  .services {
    display: none;
  }
}

@media (min-width: 546px) and (max-width: 600px) {
  .heroImages {
    width: 80%;
    margin-left: 80px;
  }
}

@media (max-width: 500px) {
  .main {
    height: calc(100vh - 70px);
    flex-direction: column;
    gap: 5%;
    position: relative;
  }

  /* Text */
  .heroText {
    display: flex;
    text-align: center;
    justify-content: center;

    width: 100%;
    text-align: center;
    margin-bottom: 0%;
  }

  .leftText {
    width: none;
  }

  .leftText h1 {
    font-size: 1.7rem;
    padding: 0.24em 0 0.35em;
  }

  .leftText p {
    font-size: 1rem;
    padding: 1.3rem 0 2rem;
  }

  .btn {
    padding: 0.5rem 1.5rem;
    font-size: var(--font-16);
  }

  /* Hero image */
  .heroImages {
    text-align: center;
  }

  .heroImages div img {
    width: 70%;
  }

  .heroImages .purple {
    transform: translateY(-90%);
  }

  .heroImages .lady {
    top: 30%;
    left: -5%;
  }

  .heroImages .lady img {
    width: 35%;
  }

  /* Premier Support */
  .services {
    display: none;
  }
}

@media (min-width: 400px) and (max-width: 490px) {
  .main {
    max-height: calc(100vh - 70px);
  }

  .leftText h1 {
    font-size: 1.7rem;
    padding: 8% 0 5%;
  }

  .leftText p {
    font-size: 1rem;
    padding: 8% 0 15%;
  }

  .heroImages div img {
    width: 90%;
  }

  .heroImages .lady img {
    width: 45%;
  }
}