/* global styling */
@font-face {
  font-family: satoshi400;
  src: url("./satoshi-fonts/Satoshi-Regular.ttf");
}

:root {
  --satfont400: satoshi400;
  --font-style: normal;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-size: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

li {
  list-style-type: none;
}

a {
  text-decoration: none;
}

.active {
  border-bottom: 1px solid #3734a9;
  /* color: #3734a9; */
}
